<%@ Master Language="C#" AutoEventWireup="true" CodeFile="MasterPage.master.cs" Inherits="Admin_MasterPage" %>

<%@ Register Src="~/Admin/Controls/Header.ascx" TagPrefix="uc1" TagName="Header" %>
<%@ Register Src="~/Admin/Controls/Footer.ascx" TagPrefix="uc1" TagName="Footer" %>



<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>الدليل لاألكتروني لأرشفة الملفات والقرارات الحكومية</title>
    <link href="Styles/font-awesome-4.4.0/css/font-awesome.min.css" rel="stylesheet" />
    <script src="Scripts/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link href="Styles/MainCss.css" rel="stylesheet" />
    <script src="Scripts/modernizr.custom.js"></script>
    <link href="Styles/normalize.css" rel="stylesheet" />
    <link href="Styles/component.css" rel="stylesheet" />
    <link href="Styles/alertify.rtl.css" rel="stylesheet" />
    <link href="Styles/themes/default.rtl.css" rel="stylesheet" />
    <script src="Scripts/alertify.min.js"></script>
    <link rel="icon" href="Images/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="Images/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="Images/favicon.ico" type="image/vnd.microsoft.icon" />
    
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
        <uc1:Header runat="server" ID="Header" />
        <div>
            <div class="Content">
                <div class="error">
                    <h2 class="nav-header">  الدليل لاألكتروني لأرشفة الملفات والقرارات الحكومية</h2>
                </div>
                <div class="sp20"></div>
                <div class="span3">
                    <div class="item">
                        <h2 class="nav-header">الخيارات الاساسية</h2>
                        <a href="AdminList.aspx"><i class="fa fa-pencil-square-o fl mr10px"></i>ادارة مدراء الموقع</a>
                        <a href="AdminOp.aspx?op=add"><i class="fa fa-user-plus fl mr10px"></i>اضافة مدير جديد</a>
                    </div>
                    
                    <div class="item">
                        <h2 class="nav-header">الملفات</h2>
                        <a href="FileList.aspx"><i class="fa fa-pencil-square-o fl mr10px"></i>الملفات</a>
                        <a href="FileOp.aspx?op=add"><i class="fa fa-plus fl mr10px"></i>اضافة ملف جديد</a>
                    </div>
                    
                </div>
                <div class="span9">
                    <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                    </asp:ContentPlaceHolder>
                </div>
            </div>
            <uc1:Footer runat="server" ID="Footer" />

            <script src="Scripts/classie.js"></script>
            <script src="Scripts/gnmenu.js"></script>
            
            <script>
                new gnMenu(document.getElementById('gn-menu'));

		</script>
        </div>
    </form>
</body>
</html>
